*{
    margin: 0;
    padding: 0; 
    list-style: none;   
    text-decoration: none;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.info-container{
    display: flex;
}
.rubriktitel{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}
.map{
    min-width: 50%;
    margin: 1.5rem 0 1.5rem 1rem;
}
.map img{
    width: 75%;
    margin-left: 13%
}

.info-text{
    border-radius: 2px;
    border: 2px solid black;
    margin: 1.5rem 0 1.5rem 1rem;
    width: 50%;
    display: flex;
    margin-right: 100px;
    padding: 30px;
}
.info-text p{
    display: flex;
    flex-basis: initial;
}
footer{
    background-color:#66ff66;
    padding: 10px 5px 0 5px;
}

.space{
    padding:0 30px 0 0;
}
.main-footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer1{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.footer2{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.oss h3{
    margin: 0;
    padding: 0% 0% 0% 27%;
}
.oss img{
    padding: 0 25px 0 0;
    margin: 0;
}

.footer-bild1 img{
	padding: 0% 25%;
}
.footer1 a:active{
	color: black;
}
.footer1 a:link{
	color: black;
}
.footer1 a:visited{
	color: black;
}
.footer-bild2 img{
	padding: 0% 25%;
}


@media (max-width: 768px){
.info-container{
    display: flex;
    flex-direction: column;
}
.rubriktitel{
    display: flex; 
    justify-content: center;
    margin: 10px 0 0 0;
    font-size: 0.7rem;
    font-weight: bold;
}
.map{
    display: flex;
    align-items: flex-start;
    margin: 0;
    
}

footer{
    display: none;

}
.info-text{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
}
